extends layout

block content  
    
    
  if errors 
    each error in errors 
      p #{error} 
      p #{msg}   

  


  a.float-end.bg-secondary(href="/login")
  <br>  
  <br>
  h3 Log-in
   
  form(action='/login'  method='POST')
    p
      label(for='username')
      input#fname(type='text' name='username' placeholder='Enter your username..' required='' value= currentUser && currentUser.username)
    p
      label(for='password') 
      input#lname(type='password' name='password' placeholder='Enter your password..' required='')
    p
      input.roundbtn(type='submit' value='Log-in')       

  p 
    a(href='log-out') <h2>Logout
  h3 Sign-up if you not registered
  
  
  form(method='Post' action='/signup')

    p
      label(for='username')
      input#fname(type='text' name='username' placeholder='Enter your username..' required='')
    p
      label(for='password') 
      input#lname(type='password' name='password' placeholder='Enter your password..' required='')
    p
      label(for='firstname')  
      input#email(type='text' name='fname' placeholder='First name' required='')
    p
      label(for='lastname')  
      input#email(type='text' name='lname' placeholder='Last name' required='')
    p
      label(for='email')  
      input#email(type='email' name='email' placeholder='Email address' required='')
    p
      input.roundbtn(type='submit' value='Register')

  .map
    figure
      img(src='images/beach1.jpg' alt='beach')
         